<main class="main oh" id="main">


  <!-- Hero Slider -->
  <section class="hero-slider-1">
    <div id="flickity-hero" class="carousel-main">

      <div class="carousel-cell hero-slider-1__item">
        <article class="hero-slider-1__entry entry">
          <div class="hero-slider-1__thumb-img-holder" style="background-image: url(img/content/hero/hero_post_19.jpg)">
            <div class="bottom-gradient"></div>
          </div>
          <div class="hero-slider-1__thumb-text-holder">
            <div class="container">
              <h2 class="hero-slider-1__entry-title">
                <a href="single-post-music.html">Meghan Trainor and 'Queer Eye' Cast Team Up for Spotify Takeover:
                  Listen</a>
              </h2>
            </div>
          </div>
        </article>
      </div>

      <div class="carousel-cell hero-slider-1__item">
        <article class="hero-slider-1__entry entry">
          <div class="hero-slider-1__thumb-img-holder" style="background-image: url(img/content/hero/hero_post_20.jpg)">
            <div class="bottom-gradient"></div>
          </div>
          <div class="hero-slider-1__thumb-text-holder">
            <div class="container">
              <h2 class="hero-slider-1__entry-title">
                <a href="single-post-music.html">WATCH Suprise Performance, Shoots Whiskey at Nashville’s Bluebird Cafe</a>
              </h2>
            </div>
          </div>
        </article>
      </div>

      <div class="carousel-cell hero-slider-1__item">
        <article class="hero-slider-1__entry entry">
          <div class="hero-slider-1__thumb-img-holder" style="background-image: url(img/content/hero/hero_post_21.jpg)">
            <div class="bottom-gradient"></div>
          </div>
          <div class="hero-slider-1__thumb-text-holder">
            <div class="container">
              <h2 class="hero-slider-1__entry-title">
                <a href="single-post-music.html">'American Idol': How the Show's Inclusive New Season Reflects the
                  Country's Progress</a>
              </h2>
            </div>
          </div>
        </article>
      </div>

      <div class="carousel-cell hero-slider-1__item">
        <article class="hero-slider-1__entry entry">
          <div class="hero-slider-1__thumb-img-holder" style="background-image: url(img/content/hero/hero_post_22.jpg)">
            <div class="bottom-gradient"></div>
          </div>
          <div class="hero-slider-1__thumb-text-holder">
            <div class="container">
              <h2 class="hero-slider-1__entry-title">
                <a href="single-post-music.html">Jack, Chris &amp; More to Headline 2018 Pilgrimage Festival</a>
              </h2>
            </div>
          </div>
        </article>
      </div>
    </div> <!-- end flickity -->

    <!-- Slider thumbs -->
    <div class="carousel-thumbs-holder">
      <div class="container">
        <div id="flickity-thumbs" class="carousel-thumbs">
          <div class="carousel-cell">
            <div class="carousel-thumbs__item">
              <div class="carousel-thumbs__img-holder">
                <img src="img/content/hero/hero_post_19_thumb.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="carousel-thumbs__item">
              <div class="carousel-thumbs__img-holder">
                <img src="img/content/hero/hero_post_20_thumb.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="carousel-thumbs__item">
              <div class="carousel-thumbs__img-holder">
                <img src="img/content/hero/hero_post_21_thumb.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="carousel-thumbs__item">
              <div class="carousel-thumbs__img-holder">
                <img src="img/content/hero/hero_post_22_thumb.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- end hero slider -->

  <div class="main-container container content-box content-box--pt-108" id="main-container">

    <!-- Upcoming Events -->
    <section class="section mb-0">
      <div class="title-wrap title-wrap--line title-wrap--pr">
        <h3 class="section-title">Upcoming Events</h3>
      </div>

      <!-- Slider -->
      <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
        <article class="entry card card--1">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post-music.html">
              <div class="thumb-container thumb-70">
                <img data-src="img/content/carousel/carousel_post_13.jpg" src="img/empty.png" class="entry__img lazyload"
                  alt="" />
                <div class="entry-date-label">
                  <div class="entry-date-label__weekday">thu</div>
                  <div class="entry-date-label__day">23</div>
                  <div class="entry-date-label__month">aug</div>
                </div>
              </div>
            </a>
          </div>

          <div class="entry__body card__body">
            <div class="entry__header">
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <a href="#">F</a>
                </li>
              </ul>
              <h2 class="entry__title">
                <a href="single-post-music.html">ROMANCING THE CLASSICS - PPO 35th Concert Season 2017–2018</a>
              </h2>
              <ul class="entry__meta">
                <li class="entry__meta-author">
                  <span>by</span>
                  <a href="#">DeoThemes</a>
                </li>
                <li class="entry__meta-date">
                  Jan 21, 2018
                </li>
              </ul>
            </div>

          </div>
        </article>

        {{#each b}}
        <article class="entry card card--1">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post-music.html">
              <div class="thumb-container thumb-70">
                <img data-src="img/content/carousel/carousel_post_14.jpg" src="img/empty.png" class="entry__img lazyload"
                  alt="" />
                <div class="entry-date-label">
                  <div class="entry-date-label__weekday">{{time}}</div>

                  <div class="entry-date-label__month">{{date}}/div>
                  </div>
                </div>
            </a>
          </div>

          <div class="entry__body card__body">
            <div class="entry__header">
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <a href="#">Festivals</a>
                </li>
              </ul>
              <h2 class="entry__title">
                <a href="#"> <strong>{{name}} </a> </strong>
              </h2>
              <ul class="entry__meta">
                <li class="entry__meta-author">
                  <span>by</span>
                  <a href="#">{{place}}</a>
                </li>
                <li class="entry__meta-date">
                  {{time}}, {{time}}
                </li>
              </ul>
            </div>

          </div>
        </article>

        {{/each}}
        <article class="entry card card--1">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post-music.html">
              <div class="thumb-container thumb-70">
                <img data-src="img/content/carousel/carousel_post_15.jpg" src="img/empty.png" class="entry__img lazyload"
                  alt="" />
                <div class="entry-date-label">
                  <div class="entry-date-label__weekday">sat</div>
                  <div class="entry-date-label__day">15</div>
                  <div class="entry-date-label__month">aug</div>
                </div>
              </div>
            </a>
          </div>

          <div class="entry__body card__body">
            <div class="entry__header">
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <a href="#">Concerts</a>
                </li>
              </ul>
              <h2 class="entry__title">
                <a href="single-post-music.html">Tickets For Sam Smith's Show in Manila in October Go On Sale Next
                  Week!</a>
              </h2>
              <ul class="entry__meta">
                <li class="entry__meta-author">
                  <span>by</span>
                  <a href="#">DeoThemes</a>
                </li>
                <li class="entry__meta-date">
                  Jan 21, 2018
                </li>
              </ul>
            </div>

          </div>
        </article>
        <article class="entry card card--1">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post-music.html">
              <div class="thumb-container thumb-70">
                <img data-src="img/content/carousel/carousel_post_14.jpg" src="img/empty.png" class="entry__img lazyload"
                  alt="" />
                <div class="entry-date-label">
                  <div class="entry-date-label__weekday">wed</div>
                  <div class="entry-date-label__day">29</div>
                  <div class="entry-date-label__month">aug</div>
                </div>
              </div>
            </a>
          </div>

          <div class="entry__body card__body">
            <div class="entry__header">
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <a href="#">Festivals</a>
                </li>
              </ul>
              <h2 class="entry__title">
                <a href="single-post-music.html">FOUR - An Anniversary Show, With Special Guest "BEN &amp; BEN"</a>
              </h2>
              <ul class="entry__meta">
                <li class="entry__meta-author">
                  <span>by</span>
                  <a href="#">DeoThemes</a>
                </li>
                <li class="entry__meta-date">
                  Jan 21, 2018
                </li>
              </ul>
            </div>

          </div>
        </article>
      </div> <!-- end slider -->

    </section> <!-- end upcoming events -->


    <!-- Ad Banner 970 -->
    <div class="text-center pb-48">
      <a href="#">
        <img src="img/content/placeholder_970_1.jpg" alt="">
      </a>
    </div>

    <!-- Newest Videos -->
    <section class="pb-32">
      <div class="title-wrap title-wrap--line">
        <h2 class="section-title">newest videos</h2>
      </div>
      <div class="video-playlist">

        <div class="video-playlist__content thumb-container">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/E0wW9RwpG7M?feature=oembed" class="video-playlist__content-video">
            </iframe>
          </div>
        </div>

        <div class="video-playlist__list">
          {{#each a}}

          <a href="{{url}}?feature=oembed&amp;autoplay=1" class="video-playlist__list-item video-playlist__list-item--active">
            <div class="video-playlist__list-item-thumb">
              <img data-src="https://i.ytimg.com/vi/E0wW9RwpG7M/default.jpg" src="../../../../i.ytimg.com/vi/E0wW9RwpG7M/default.jpg"
                class="video-playlist__list-item-img lazyload" alt="">
            </div>
            <div class="video-playlist__list-item-description">
              <h4 class="video-playlist__list-item-title">{{name}}</h4>
            </div>
          </a>


          {{/each}}
          <a href="https://www.youtube.com/embed/7TWkmy5ELJc?feature=oembed&amp;autoplay=1" class="video-playlist__list-item">
            <div class="video-playlist__list-item-thumb">
              <img data-src="https://i.ytimg.com/vi/7TWkmy5ELJc/default.jpg" src="../../../../i.ytimg.com/vi/mn6Ia5e_suY/default.jpg"
                class="video-playlist__list-item-img lazyload" alt="">
            </div>
            <div class="video-playlist__list-item-description">
              <h4 class="video-playlist__list-item-title">Santa Cruz - Young Blood Rising (Official Music Video)</h4>
            </div>
          </a>
          <a href="https://www.youtube.com/embed/xMTsul4UFl8?feature=oembed&amp;autoplay=1" class="video-playlist__list-item">
            <div class="video-playlist__list-item-thumb">
              <img data-src="https://i.ytimg.com/vi/xMTsul4UFl8/default.jpg" src="../../../../i.ytimg.com/vi/mn6Ia5e_suY/default.jpg"
                class="video-playlist__list-item-img lazyload" alt="">
            </div>
            <div class="video-playlist__list-item-description">
              <h4 class="video-playlist__list-item-title">Nothing Makes Sense Anymore (Official Video) - Mike Shinoda</h4>
            </div>
          </a>
          <a href="https://www.youtube.com/embed/2Vv-BfVoq4g?feature=oembed&amp;autoplay=1" class="video-playlist__list-item">
            <div class="video-playlist__list-item-thumb">
              <img data-src="https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg" src="../../../../i.ytimg.com/vi/mn6Ia5e_suY/default.jpg"
                class="video-playlist__list-item-img lazyload" alt="">
            </div>
            <div class="video-playlist__list-item-description">
              <h4 class="video-playlist__list-item-title">Ed Sheeran - Perfect (Official Music Video)</h4>
            </div>
          </a>
        </div>

      </div>
    </section> <!-- end newest videos -->


    <!-- Featured Albums -->
    <section class="section mb-0">
      <div class="title-wrap title-wrap--line title-wrap--pr">
        <h3 class="section-title">Music</h3>
      </div>

      <!-- Slider -->
      <div id="owl-posts" class="owl-carousel owl-theme owl-carousel--arrows-outside">

        {{#each c}}
        <article class="entry thumb thumb--size-1">
          <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_16.jpg');">
            <div class="bottom-gradient"></div>

          </div>
          <div class="thumb-text-holder">
            <h2 class="thumb-entry-title">
              <a href="single-post-music.html">
                Meghan Trainor and 'Queer Eye' Cast Team Up for Spotify Takeover: Listen</a>
            </h2>

          </div>
          <audio style="position: fixed;" controls>
            <source src="./{{path}}" type="audio/mp3">

            Your browser does not support the audio tag.
          </audio>


        </article>

        {{/each}}
        <article class="entry thumb thumb--size-1">
          <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_17.jpg');">
            <div class="bottom-gradient"></div>
            <div class="thumb-text-holder">
              <h2 class="thumb-entry-title">
                <a href="single-post-music.html">Jack, Chris &amp; More to Headline 2018 Pilgrimage Festival</a>
              </h2>
            </div>
            <a href="single-post-music.html" class="thumb-url"></a>
          </div>
        </article>
        <article class="entry thumb thumb--size-1">
          <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_18.jpg');">
            <div class="bottom-gradient"></div>
            <div class="thumb-text-holder">
              <h2 class="thumb-entry-title">
                <a href="single-post-music.html"> 9 Standout moments of Demi Lovato’s Tell Me You</a>
              </h2>
            </div>
            <a href="single-post-music.html" class="thumb-url"></a>
          </div>
        </article>
        <article class="entry thumb thumb--size-1">
          <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_19.jpg');">
            <div class="bottom-gradient"></div>
            <div class="thumb-text-holder">
              <h2 class="thumb-entry-title">
                <a href="single-post-music.html">Which Artist Is Dominating 2018 So Far? Vote!</a>
              </h2>
            </div>
            <a href="single-post-music.html" class="thumb-url"></a>
          </div>
        </article>
        <article class="entry thumb thumb--size-1">
          <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_17.jpg');">
            <div class="bottom-gradient"></div>
            <div class="thumb-text-holder">
              <h2 class="thumb-entry-title">
                <a href="single-post-music.html">Jack, Chris &amp; More to Headline 2018 Pilgrimage Festival</a>
              </h2>
            </div>
            <a href="single-post-music.html" class="thumb-url"></a>
          </div>
        </article>
      </div> <!-- end slider -->

    </section> <!-- end featured albums -->

  </div> <!-- end main container -->

  <!-- Footer -->
  <footer class="footer footer--dark footer--bg-img" style="background-image: url('img/content/footer/footer_bg_img.jpg');">
    <div class="container">
      <div class="footer__widgets">
        <div class="footer__widgets-top">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <a href="index.html">
                <img src="img/logo_default_white.png" srcset="img/logo_default_white.png 1x, img/logo_default_white@2x.png 2x"
                  class="logo__img" alt="">
              </a>
            </div>

            <div class="col-md-6">
              <div class="socials socials--large socials--nobase justify-content-md-end">
                <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-2 col-md-6">
            <aside class="widget widget_nav_menu">
              <h4 class="widget-title">Useful Links</h4>
              <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="single-post-music.html">Projects</a></li>
                <li><a href="single-post-music.html">Wordpress Themes</a></li>
                <li><a href="categories.html">Advertise</a></li>
              </ul>
            </aside>
          </div>

          <div class="col-lg-4 col-md-6">
            <aside class="widget widget-twitter">
              <h4 class="widget-title">Latest Tweets</h4>
              <div class="tweets-container">
                <div id="tweets"></div>
              </div>
            </aside>
          </div>

          <div class="col-lg-3 col-md-6">
            <aside class="widget widget-popular-posts">
              <h4 class="widget-title">Most Popular</h4>
              <ul class="post-list-small post-list-small--1">
                <li class="post-list-small__item">
                  <article class="post-list-small__entry clearfix">
                    <div class="post-list-small__img-holder">
                      <div class="thumb-container thumb-80">
                        <a href="single-post-music.html">
                          <img data-src="img/content/post_small/post_small_46.jpg" src="img/empty.png" alt="" class="lazyload">
                        </a>
                      </div>
                    </div>
                    <div class="post-list-small__body">
                      <h3 class="post-list-small__entry-title">
                        <a href="single-post-music.html">WATCH Suprise Performance, Shoots Whiskey at Nashville’s</a>
                      </h3>
                    </div>
                  </article>
                </li>
                <li class="post-list-small__item">
                  <article class="post-list-small__entry clearfix">
                    <div class="post-list-small__img-holder">
                      <div class="thumb-container thumb-80">
                        <a href="single-post-music.html">
                          <img data-src="img/content/post_small/post_small_47.jpg" src="img/empty.png" alt="" class="lazyload">
                        </a>
                      </div>
                    </div>
                    <div class="post-list-small__body">
                      <h3 class="post-list-small__entry-title">
                        <a href="single-post-music.html">Jack, Chris &amp; More to Headline 2018 Pilgrimage Festival</a>
                      </h3>
                    </div>
                  </article>
                </li>
                <li class="post-list-small__item">
                  <article class="post-list-small__entry clearfix">
                    <div class="post-list-small__img-holder">
                      <div class="thumb-container thumb-80">
                        <a href="single-post-music.html">
                          <img data-src="img/content/post_small/post_small_48.jpg" src="img/empty.png" alt="" class="lazyload">
                        </a>
                      </div>
                    </div>
                    <div class="post-list-small__body">
                      <h3 class="post-list-small__entry-title">
                        <a href="single-post-music.html">Meghan Trainor and 'Queer Eye' Cast Team Up for Spotify ...</a>
                      </h3>
                    </div>
                  </article>
                </li>
              </ul>
            </aside>
          </div>

          <div class="col-lg-3 col-md-6">
            <aside class="widget widget_mc4wp_form_widget">
              <h4 class="widget-title">Newsletter</h4>
              <p class="newsletter__text">
                <i class="ui-email newsletter__icon"></i>
                Subscribe for our daily news
              </p>
              <form class="mc4wp-form" method="post">
                <div class="mc4wp-form-fields">
                  <div class="form-group">
                    <input type="email" name="EMAIL" placeholder="Your email" required="">
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-color" value="Sign Up">
                  </div>
                </div>
              </form>
            </aside>
          </div>



        </div> <!-- end row -->
      </div> <!-- end footer widgets -->
    </div> <!-- end container -->

    <div class="footer__bottom footer__bottom--dark">
      <div class="container text-center">
        <ul class="footer__nav-menu footer__nav-menu--1">
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">News</a></li>
          <li><a href="categories.html">Advertise</a></li>
          <li><a href="shortcodes.html">Support</a></li>
          <li><a href="shortcodes.html">Contact</a></li>
        </ul>
        <p class="copyright">
          © 2018 Deus | Made by <a href="https://deothemes.com/">DeoThemes</a>
        </p>
      </div>
    </div> <!-- end footer bottom -->
  </footer> <!-- end footer -->

  <div id="back-to-top">
    <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
  </div>

</main> <!-- end main-wrapper -->